<%- include ("includes/header") %>

<link rel="stylesheet" href="/static/css/main.a0ab3751.chunk.css" />

<div id="react-root"></div>

<script src="/static/js/runtime-main.1638fc71.js"></script>
<script src="/static/js/main.55f1c1af.chunk.js"></script>
<script src="/static/js/2.8e683c52.chunk.js"></script>

<%- include ("includes/footer") %>
